<p>
  recaptcha works!
</p>
<head>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>



<form>

<div>
    Name:<input type="text" name= "name"><br>
</div>

<!-- <div>
  <re-captcha (resolved)="Resolved($event)" siteKey="6LdkY3sUAAAAAERetltvSiQ7QYjfiPE1vGmjBf82"></re-captcha>
</div> -->
<!-- <div>
    <div class="g-recaptcha"  data-sitekey="6Lc6YXsUAAAAAFtupKIERiXCcmVSsxYEoMgq4jzY"></div>
</div> -->
<button
class="g-recaptcha"
data-sitekey="6Le2YnsUAAAAANUxpWciL1-e8frKI7WzahNSuLO6"
data-callback="YourOnSubmitFn">
Submit
</button>

<!-- <div>
  <button (click)=onsubmit()>Submit</button>
</div> -->
</form>
